extends layout

block content
  .row.banner
    .col-12
      h1 Abdul49

  .row
    .col-12
      p Welcome to Abdul49's page. This page showcases Abdul49.

      img(src="abdul.jpg" alt="Abdul49 image" class="img-fluid")
      p.caption-text This is an image representing Abdul49.

  .row
    .col-12
      h2 About Abdul49
      p Abdul49 is an active contributor to this platform. Stay tuned for more updates!
